# Informacion bancaria

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from inf_bancaria.config import data_path
from inf_bancaria.clean_data import remove_columns

In [3]:
df = pd.read_csv(data_path)

In [6]:
columns = ['NUM_SOLICITUD', 'SUCURSAL', 'STATUS_SOLICITUD', 'PUNTO_DECISION',
       'APROBACION_TC', 'LINEA_CREDITO_FINAL', 'CUENTA_ASIGNADA',
       'SALDO_CUENTA', 'CAPACIDAD_TC', 'COMPROBANTE_INGRESOS', 
       'SEGMENTO_CLIENTE', 'CLIENTE_CDE', 'SUMA_LINEAS_REVOLVENTES', 
       'CAPACIDAD_PAGO_TOTAL','PEOR_MOP_TARJETAS', 'SUMA_SALDOS_TARJETAS', 
       'SUMA_PAGO_MIN_TARJETAS', 'PEOR_HISTORIA_CREDITO', 'SUMA_SALDOS_TOTAL', 
       'NUM_CREDITOS',]

In [7]:
df_clean = remove_columns(df, columns)

In [9]:
df_clean.head()

,TIPO_CTE,MESES_VENCIDOS,INGRESO_INFERIDO,NIVEL_RIESGO,SOLICITUDES_RECHAZADAS,SCORE_CLIENTE,SCORE_COMPORTAMIENTO,EDAD,TIPO_VIVIENDA,ESCOLARIDAD
0,MALO,NaN,4500,Alto,5,89,0,25,Renta,Preparatoria
1,MALO,NaN,4780,Alto,4,89,0,25,Familiares,Licenciatura
2,MALO,NaN,4520,Alto,5,89,0,25,Familiares,Preparatoria
3,MALO,NaN,5000,Alto,4,89,0,25,Renta,Posgrado
4,MALO,NaN,4950,Alto,4,89,0,25,Renta,Licenciatura